@charset "UTF-8";
/* CSS Document */

.main_nav ul li {
    width: 208px;
    float: left;
    text-align: center;
}
.Page-container {
    margin-right: auto;
    margin-left: 0px;
    margin-bottom: 0;
    width: 1000px;
    background-color: #FFFFFF;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
div div div {
}
.footer div div div {
    text-align: center;
}
.Page-container footer a {
    text-align: center;
}
.Page-container footer p {
    text-align: center;
}
body {
    background-color: #103A25;
    padding-left: 100px;
    padding-right: 100px;
}
.main_nav ul li a {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	line-height: 48px;
	font-weight: bold;
	margin: 0;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}
.main_nav ul li a:hover {
    color: #4FB14C;
}
.main_nav ul li {
}
.main_nav ul li:hover {
}
.main_nav ul li:hover > ul {
    display: block;
    background-color: #103A25;
}
h2 {
    font-size: 40px;
    margin: 0;
    text-transform: capitalize;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #4FB14C;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
}
.main_nav {
	background-color: #103A25;
	background-position: left top;
	width: 1040px;
	display: block;
	margin-bottom: 0px;
	height: 0px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
h4 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-style: normal;
}
h3 {
    font-family: 'Marcellus SC',Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    margin: 0;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: capitalize;
    padding-top: 22px;
    padding-bottom: 18px;
}
.main_nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.Content-container .top_heading img {
}
.Content-container .top_heading img {
    padding-right: 20px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.top_heading div img {
    clear: none;
}
.Category_2 {
    float: left;
}
.Page-container h4 {
    text-align: center;
}
.Category_1 {
	float: left;
}
.Category_4 {
    float: left;
}
.Category_3 {
    float: left;
}
.Page-container .Disclosures_footer h5 {
	color: #286B4A;
	text-align: center;
	font-size: 20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
div div ul {
}
div ul strong {
    color: #1A9A2F;
}
.Page-container .Disclosures_footer div {
    float: none;
    padding-left: 200px;
    padding-right: 200px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
h5 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
.Page-container .Disclosures_footer div ul li {
    text-align: left;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
.Page-container footer {
    padding-top: 20px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
.Page-container .Disclosures_footer hr {
    border: thin solid #286B4A;
}

.main_nav ul ul {
    display: none;
    position: absolute;
}
.Page-container footer p a {
	color: #000000;
}
.Page-container footer p a:hover {
	color: #1A9A2F;
}
